body {
  background-color: #0a0a0a;
  background: linear-gradient(56deg, rgba(0,0,0,1) 0%, rgba(42,42,42,1) 100%);
  color: #f0f0f0;
}

#logo {
  margin-top: 8rem;
  margin-bottom: 8rem;
  width: 100%;
  text-align: center;
}

.card {
  margin: auto;
  margin-bottom: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}
